#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
}

.text-white {
  color: white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
